@import '@app/styles/media';
@import '@app/styles/typography';
@import '@app/styles/mixins';

.listWrap {
  margin-bottom: 80px;
}

.list {
  background-color: #27181b;
  border-radius: 16px;
  overflow: hidden;

  :last-child {
    border: 0;
  }

  li {
    border-bottom: 1px solid #5e3f2c;
  }
}
