@import '@app/styles/typography';

.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.contentWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 41px;
}

.title {
  @extend %h-2;
  color: #ecd5b2;
  margin-bottom: 4px;
}

.subtitle {
  @extend %subtitle;
  color: #ecd5b2;
  margin-bottom: 24px;
}

.desc {
  color: #aa9088;
  @extend %body;
}

.badge {
  align-self: center;
}

.img {
  width: 240px;
  height: 140px;
  margin-bottom: 16px;
  object-fit: cover;
}

.wrap {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 4px;
}

.available,
.level {
  @extend %body;
  color: #aa9088;
}
