@import '@app/styles/typography';

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #ecd5b2;
  padding: 16px;
  gap: 8px;
  background-color: #27181b;
  width: 100%;
  border-radius: 16px;
}

.title {
  @extend %body;
}

.wrap {
  display: flex;
  gap: 11px;
}

.img {
  width: 52px;
  height: 48px;
}

.value {
  @extend %h-1;
}
