@import '@app/styles/typography';

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, #110007 0%, #27181b 100%);
  padding: 20px;
}

.content {
  max-width: 272px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img {
  margin-bottom: 32px;
}

.text {
  @include tab;
  text-align: center;

  color: #aa9088;
}
