.root {
  width: 100%;
}

.prev {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  z-index: 3;
  transition: transform 0.6s ease-in-out;
}

.next {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  z-index: 3;
  transition: transform 0.6s ease-in-out;
}

.navDisable {
  opacity: 0;
}
