@import '@app/styles/typography';

.root {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  padding: 0 16px 14px;
  margin-bottom: env(safe-area-inset-bottom, 14px);
}

.bg {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #553939;
  border-radius: 16px 16px 0 0;
  height: 63px;
  width: 100%;
}

.boost,
.slaps,
.invite {
  position: relative;
  z-index: 1;
}

@media (max-height: 668px) {
  .bg {
    height: 53px;
  }
}
